name: Freeze PR dependency changes

on:
  pull_request:
    branches:
      - master
    types:
      - labeled
      - opened
      - synchronize
      - reopened

jobs:
  freeze-pr-dep-changes:
    if: contains(github.event.pull_request.labels.*.name, 'dependencies')
    uses: FasterSpeeding/Piped/.github/workflows/freeze-for-pr.yml@d54b1d709064c76626a2bc3efe526a6ae5ab8749
    secrets: inherit
