name: Freeze PR dependency changes

on:
  pull_request:
    branches:
      - master
    types:
      - labeled
      - opened
      - synchronize
      - reopened

jobs:
  freeze-pr-dep-changes:
    if: contains(github.event.pull_request.labels.*.name, 'dependencies')
    uses: FasterSpeeding/Piped/.github/workflows/freeze-for-pr.yml@694447157e4a1b28844a909f800dc7ba9409c001
    secrets: inherit
