name: Deploy PR preview docs

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

jobs:
  deploy-docs-preview:
    permissions:
      contents: write
      pull-requests: write

    uses: FasterSpeeding/Piped/.github/workflows/pr-docs.yml@503ce60b093e8654ef3ca879fc12d72e2de498da
    secrets: inherit
