name: Publish documentation

on:
  workflow_dispatch:
  push:
    branches: [master]
  release:
    # Only use the types keyword to narrow down the activity types that will trigger your workflow.
    types:
      - published

jobs:
  publish-docs:
    uses: FasterSpeeding/Piped/.github/workflows/release-docs.yml@83cef8d36a5b59839a19d61f34bd3dda30c8b7c9
    secrets: inherit
