name: Publish documentation

on:
  workflow_dispatch:
  push:
    branches: [master]
  release:
    # Only use the types keyword to narrow down the activity types that will trigger your workflow.
    types:
      - published

jobs:
  publish-docs:
    uses: FasterSpeeding/Piped/.github/workflows/release-docs.yml@178684fb03474efd13342ef67ff2a20ffec24e34
    secrets: inherit
